.cabeçalho
{
    background-color: #962222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;;
}
.cabeçalho-imagem
{
    width: 20%;
}
.cabeçalho-lista-item
{
    display: inline-block;
    margin: 0 10px;
    padding: 24px 0;
    font-size: 24px;
}